body {
    background-color:#4BB543;
    color:whitesmoke;
  }
.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    color:black;
    }
    .card-text{
        color: black;
        font-family: 'Oswald', sans-serif;
    }
    .card-title{
        color: black;
        font-family: 'Oswald', sans-serif;
    }